<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".asp" mimeType="application/asp" />
            <mimeMap fileExtension=".aspx" mimeType="application/aspx" />
            <mimeMap fileExtension=".md" mimeType="text/readme" />
        </staticContent>
        <httpErrors errorMode="Detailed" />
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="logs" />
                    <add segment="utils" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
