<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="utils" />
                    <add segment="rest" />
                    <add segment="Logs" />
                </hiddenSegments>
                <filteringRules>
                </filteringRules>
                <denyUrlSequences>
                </denyUrlSequences>
            </requestFiltering>
        </security>
        <staticContent>
            <mimeMap fileExtension=".md" mimeType="text/markdown" />
        </staticContent>
    </system.webServer>
</configuration>
